.admin-panel-content
{
  margin: 20px auto;
  text-align: center;
  font-size: 1.3em;
}

.admin-panel-error
{
  color: red;
  font-style: italic;
}

.user-form
{
  margin: auto;
}

.password-error
{
  margin-top: 15px;
  font-size: 0.5em;
}

.ul-nav
{
  font-size: 0.45em;
  text-align: left;
  padding: 10px;
  font-weight: bold;
  font-style: italic;
  background: #1367ef;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.ul-nav a
{
  color: #1a1a1a;
  text-decoration: none;
}

.ul-nav a:visited
{
  color: #1a1a1a;
}

.ul-nav li:hover a
{
  color: #000000;
}

.table-results, .table-wrong-answers, .table-statistics
{
  font-size: 0.7em;
  width: 650px;
  border-collapse: collapse;
  margin: auto;
  background: #262626;
}

thead tr
{
  font-size: 1.3em;
  font-style: italic;
  font-weight: bold;
  color: #ffffff;
  background-color: #1367ef;
}

tbody tr:nth-child(2n)
{
  background: #4d4d4d;
}

tbody tr:hover
{
  color: #000000;
  background: #fff6db;
}

td, th
{
  border: 1px solid gray;
  padding: 1.0rem;
}

.table-wrong-answers, .table-statistics
{
  margin-top: 100px;
  margin-bottom: 100px;
}

.table-wrong-answers span
{
  font-weight: bold;
  font-size: 1.3em;
}

.wrong-answers
{
  text-align: left;
  font-size: 0.55em;
}

.wrong-answers-list
{
  margin-top: 15px;
  list-style-type: decimal;
  padding-left: 30px;
}

.hide-wrong-answers
{
  display: none;
}

.statistics-row
{
  font-size: 0.7em;
}

.statistics-question
{
  text-align: left;
}

.clean-database
{
  color: gold;
  font-size: 0.8em;
  margin-bottom: 30px;
}

.clean-form
{
  margin-bottom: 100px;
}
