body
{
  min-width: 700px;
}

.admin-panel-content
{
  margin: 0 auto;
  text-align: center;
  font-size: 1.3em;
}

.admin-panel-error
{
  color: red;
  font-style: italic;
}

.user-form
{
  margin: auto;
}

.password-error
{
  margin-top: 15px;
  font-size: 0.5em;
}

header
{
  padding-top: 50px;
}

header nav
{
  font-size: 0.3em;
  text-align: center;
  background-color: rgb(255, 255, 255, 0.9);
  width: 100%;
  min-width: 650px;
  line-height: 30px;
  max-height: 30px;
  padding: 10px 0;
  position: fixed;
  top: 0;
  z-index: 100;
}

header nav:hover
{
  background-color: rgb(255, 255, 255, 1.0);
}

header > h1
{
  margin-top: 30px;
}

.ul-nav
{
  display: inline-block;
}

.ul-nav:after
{
  content: '';
  display: block;
  clear: both;
}

.ul-nav > li
{
  float: left;
  text-align: center;
  position: relative;
}

.ul-nav > li > a
{
  color: #000000;
  text-decoration: none;
  border-right: 1px solid #000000;
  display: block;
  padding: 0 25px;
}

.ul-nav > li:first-child > a
{
  border-left: 1px solid #000000;
}

.ul-nav li:hover
{
  background-color: #1367ef;
}

.ul-nav li:hover > a
{
  color: #ffffff;
}

.table-results, .table-wrong-answers, .table-statistics
{
  font-size: 0.7em;
  width: 650px;
  border-collapse: collapse;
  margin: 0 auto;
  background: #262626;
}

.table-padding
{
  padding-top: 50px;
  margin-bottom: 100px;
}

thead tr
{
  font-size: 1.3em;
  font-style: italic;
  font-weight: bold;
  color: #ffffff;
  background-color: #1367ef;
}

tbody tr:nth-child(2n)
{
  background: #4d4d4d;
}

tbody tr:hover
{
  color: #000000;
  background: #fff6db;
}

td, th
{
  border: 1px solid gray;
  padding: 1.0rem;
}

.table-wrong-answers span
{
  font-weight: bold;
  font-size: 1.3em;
}

.wrong-answers
{
  text-align: left;
  font-size: 0.55em;
}

.wrong-answers-list
{
  margin-top: 15px;
  list-style-type: decimal;
  padding-left: 30px;
}

.hide-wrong-answers
{
  display: none;
}

.statistics-row
{
  font-size: 0.7em;
}

.statistics-question
{
  text-align: left;
}

.clean-database
{
  color: gold;
  font-size: 0.8em;
  margin-bottom: 30px;
}

.clean-form
{
  margin-bottom: 100px;
}

@media (max-width: 649px)
{
  header
  {
    padding-top: 0;
  }

  header nav
  {
    position: relative;
  }

  header > h1
  {
    margin-bottom: 45px;
  }

  .table-padding
  {
    padding-top: 0;
  }
}

@media (max-width: 349px)
{
  header
  {
    font-size: 2.0em;
  }
}
