.admin-panel-content
{
  margin: 20px auto;
  text-align: center;
  font-size: 1.3em;
}

.admin-panel-error
{
  color: red;
  font-style: italic;
}

.user-form
{
  margin: auto;
}

.password-error
{
  margin-top: 15px;
  font-size: 0.5em;
}

.table-results
{
  font-size: 0.7em;
  width: 650px;
  border-collapse: collapse;
  margin: auto;
  background: #262626;
}

thead tr
{
  font-size: 1.3em;
  font-style: italic;
  font-weight: bold;
  color: #31363b;
  background-color: #4caf50;
}

tbody tr:nth-child(4n+1), tbody tr:nth-child(4n+2)
{
  background: #4d4d4d;
}

td, th
{
  border: 1px solid gray;
  padding: 1.0rem;
}

.wrong-answers
{
  text-align: left;
  font-size: 0.55em;
}

.wrong-answers:hover
{
  color: #000000;
  background: tomato;
}

.wrong-answers-list
{
  list-style-type: decimal;
  padding-left: 30px;
}

.hide-wrong-answers
{
  display: none;
}
