<!DOCTYPE html>
<html lang="en">
<head>
    {{ block('head', "index.html.twig") }}
</head>
<body>
    <div class="wrapper">
    {{ block('header', "index.html.twig") }}
        <main class="results">
        </main>
    </div>
    {{ block('footer', "index.html.twig") }}
</body>
</html>
